body {
  background-color: black;
  color: lightblue;
}

.users {
  border: 2px solid white;
  min-height: 100px;
  display: flex;
  align-items:stretch;
  align-content: stretch;
}

.user {
  border: 2px solid salmon;
  flex:1;
}
